<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <title>Boolzapp</title>
</head>
<body>
  
  <div id="app">
    
    <div class="wrapper">
      <div class="box">

        <!-- users/left section -->
        <div class="users">
          <!-- header-users -->
          <div class="header-users">
            <div class="avatar">
              <img src="img/avatar_1.jpg" alt="">
              <span>Marco</span>
            </div>
            <div class="icons">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!-- /header-users -->

          <!-- notifications-users -->
          <div class="notifications">
            <i class="fa-solid fa-bell-slash"></i>
            <div class="notifications-text">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <p class="notifications-on">Attiva notifiche desktop</p>
            </div>
          </div>
          <!-- /notifications-users -->

          <!-- search-users -->
          <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="foundChat" @keyup="findChat">
          </div>
          <!-- /search-users -->

          <!-- contact-list-users -->
          <div class="contact-list">
            <div class="contact-item" v-for="(contact, index) in contacts" @click="changeActiveChat(index)" :class="index === activeChat ? `active-chat` : ``">
              <div class="chat-info">
                <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                <div class="name">
                  <p>{{contact.name}}</p>
                  <p class="last-message">Ultimo messaggio</p>
                  <span class="time-chat">15.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- /contact-list-users -->

        </div>
        <!-- /users-left section -->

        <!-- chat/right section -->
        <div class="chat">

          <!-- header-chat -->
          <div class="header-chat">
            <div class="avatar">
              <img :src="`img/avatar${contacts[activeChat].avatar}.jpg`" alt="">
              <div class="details">
                <span>{{contacts[activeChat].name}}</span>
                <p class="login">Ultimo accesso oggi alle 12.00</p>
              </div>
            </div>
              <div class="icons">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
          </div>
          <!-- /header-chat -->

          <!-- body-chat -->
          <div class="body-chat">
            <div class="row" v-for="message in contacts[activeChat].messages" :class="message.status">
              <div class="msg">
                <p>{{message.message}}</p>
                <p class="time-msg">{{message.date.substring(11).slice(0, -3)}}</p>
              </div>
            </div>
          </div>
          <!-- /body-chat -->

          <!-- footer-chat -->
          <div class="footer-chat">
            <div class="left">
              <i class="fa-regular fa-face-smile"></i>
            </div>
            <div class="center">
              <input type="text" placeholder="Scrivi un messaggio" v-model.trim="newMessage" @keyup.enter="addNewMessage">
            </div>
            <div class="right">
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>
          <!-- /footer-chat -->

        </div>
        <!-- /chat-right section -->
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>